<div class="modal" [class.is-open]="isOpen">
  <div class="modal-content">
    <h2>Contact Information</h2>
    <ul class="contact-list">
      <li><strong>Email:</strong> <a href="mailto:branislav.valacsay&#64;outlook.com">branislav.valacsay&#64;outlook.com</a></li>
      <li><strong>Phone:</strong> +421944508641</li>
      <li><strong>Location:</strong> Vienna, Austria</li>
      <li><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/branislav-valacsay/" target="_blank" rel="noopener noreferrer">https://www.linkedin.com/...</a></li>
      <li><strong>GitHub:</strong> <a href="https://github.com/BranislavValacsay" target="_blank" rel="noopener noreferrer">https://github.com/BranislavValacsay</a></li>
    </ul>
    <button (click)="closeModal()">Close</button>
  </div>
</div>
